include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include metta *.css
recursive-include metta *.csv
recursive-include metta *.html
recursive-include metta *.ico
recursive-include metta *.js
recursive-include metta *.json
recursive-include metta *.md
recursive-include metta *.png
recursive-include metta *.py
recursive-include metta *.svg
recursive-include metta *.txt
recursive-exclude metta *.pyc