include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include changemakers *.css
recursive-include changemakers *.csv
recursive-include changemakers *.html
recursive-include changemakers *.ico
recursive-include changemakers *.js
recursive-include changemakers *.json
recursive-include changemakers *.md
recursive-include changemakers *.png
recursive-include changemakers *.py
recursive-include changemakers *.svg
recursive-include changemakers *.txt
recursive-exclude changemakers *.pyc